@media (max-width: 767px) {
  .horizontal-links {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center;
    margin-top: 20px;
  }
  .user-avatar {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .userCard {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
